#breadcrumb{
	background-color: $light-grey;
	height:60px;
	line-height: 60px;
	margin-bottom: 50px;
	@include font-size(15);
	.container{
		padding:0 12px;
	}
	@media screen and (max-width: $break-medium) {
		display: none;
	}
}
.button{
	height:40px;
	line-height:40px;
	@media screen and (max-width: $break-medium) {
		height:32px;
		line-height: 32px;
		@include font-size(14);
	}
	background-color: $blue;
	color: white !important;
	@include font-size(16);
	border: none;
	text-align: center;
	display:inline-block;
	@include border-radius(6px);
	text-transform:uppercase;
	padding: 0 30px;
	font-family: $proximanova-bold;
	@include transition(background-color 0.3s ease-in-out);
	&:hover,&:active{
		background-color: black;
		text-decoration: none;
	}
	&.full-width{
		display: block;
		width: 100%;
	}
}
.arrows ul{
	li{
		padding:0 5px 0 50px;
		margin-bottom: 35px;
		@media screen and (max-width: $break-medium) {
			padding-left: 35px;
			margin-bottom: 30px;
		}
		@media screen and (max-width: $break-small) {
			padding-left:20px;
			margin-bottom: 20px;
		}
		position: relative;
		&:before{
			content:"";
			width:10px;
			height:15px;
			background:url('../images/slider-next.svg') left top no-repeat;
			background-size: 10px 15px;
			@include abs-pos(4px,auto,auto,0);
			@media screen and (max-width: $break-medium) {
				@include abs-pos(1px,auto,auto,0);
			}
			.ie8 &{
				background:url('../images/bullet-point.jpg') left top no-repeat;
			}
		}
	}
}
#intro{
	padding-bottom: 45px;
	@media screen and (max-width: $break-small) {
		padding: 0 15px 0;
	}
}
#index{
	padding: 0 0 35px;
	#home &{
		padding-bottom: 0;
	}
	@extend %clearfix;
	@include font-size(20);
	@extend %clearfix;
	.container{
		@media screen and (max-width: $break-small) {
			padding:0;
		}
	}
	div.column{
		@include span-columns(4);
		#home &{
			padding: 0 40px;
		}
		@media screen and (max-width: $break-small) {
			@include span-columns(12);
			span{
				padding: 25px 15px 5px 15px;
				display: block;
				width:100%;
			}
		}
	}
	@media screen and (max-width: $break-medium) {
		padding: 0 0 20px;
		@include font-size(16);
	}
}
#signposts{
	@extend %clearfix;
	//margin-bottom: 60px;
	@media screen and (max-width: $break-medium) {
		margin-bottom: 0;
	}
	@media screen and (max-width: $break-small) {
		padding:0 15px;
	}
	.box{
		@include span-columns(4);
		@media screen and (max-width: $break-medium) {
			@include span-columns(6);
			@include omega(2n);
		}
		@media screen and (max-width: $break-small) {
			@include span-columns(12);
			@include omega;
		}
	}
}
.box{
	@extend %clearfix;
	padding: 18px 22px 22px;
	display: block;
	margin-bottom: 34px;
	
	@include font-size(16);
	line-height: 135%;
	@media screen and (max-width: $break-medium) {
		@include span-columns(6);
		@include omega(2n);
		margin-bottom:  2.35765%;
	}
	@media screen and (max-width: $break-small) {
		@include span-columns(12);
		padding: 20px 12px;
		@include omega;
		margin-bottom:  20px;
	}
	h4{
		font-family: $proximanova-bold;
		@include font-size(22);
		margin-bottom: 20px;
		line-height: 110%;
		text-transform: none;
	}
	p,ul{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&.keyline{
		border: 1px solid $green;
	}
	&.fill{
		border: none;
		background-color: $orange;
		color: white;
		h4{
			@include font-size(34);
			color: white;
		}
	}
	&.tint{
		border:none;
		background-color: #f7f7f7;
		padding:35px 30px;
		@media screen and (max-width: $break-small) {
			padding:20px;
		}
		h2,h3{
			color: $grey;
			font-family: $proximanova-bold;
			@include font-size(22);
			@media screen and (max-width: $break-small) {
				@include font-size(18);
			}
		}
	}
}
.dashed-list{
	ul{
		li{
			padding-left: 10px;
			position: relative;
			font-family: $proximanova-bold;
			&:before{
				content:"-";
				@include abs-pos(0,auto,auto,0);
			}
		}
	}
}
ul.dashed-list{
	li{
			padding-left: 10px;
			position: relative;
			font-family: $proximanova-bold;
			&:before{
				content:"-";
				@include abs-pos(0,auto,auto,0);
			}
		}
}
ul.bullet-list{
	li{
			padding-left: 10px;
			position: relative;
			margin-bottom:12px;
			font-family: $proximanova-bold;
			&:before{
				content:"•";
				@include abs-pos(-2px,auto,auto,0);
			}
		}
}
ul.arrow-list{
	li{
			padding-left: 20px;
			position: relative;
			color: $blue;
			margin-bottom:12px;
			//font-family: $proximanova-bold;
			&:before{
				content:"";
				width:7px;
				height:10px;
				display:block;
				background:url('../images/bullet-arrow.png') center center no-repeat;
				@include abs-pos(7px,auto,auto,0);
			}
		}
}


#main figure img{
	@include fit-grid(width);
}
address h2{
	color: $grey;
	font-family: $proximanova-bold;
	@include font-size(22);
	margin-bottom: 15px;
	@media screen and (max-width: $break-small) {
		@include font-size(18);
	}
}
.video-outer{
	max-width:600px;
	margin:0 auto;
	.video-container{
		@include responsive-video;
	}
}
ul.child-page-list{
	li{
		@extend %clearfix;
		&.has-feature{
			figure{
				@include span-columns(4);
				background-color: $light-grey;
				float:right;
				margin: 0 0 2% 2%;
				@include bg-cover;
				&:before{
					content:"";
					padding-top:66.66%;
					display: block;  
				}
				@media screen and (max-width: $break-small) {
					display: none;
				}
			}
		}
	}
}