nav#nav{
	display: block;
	@media screen and (max-width: $break-nav) {
		background-color: $green;
		margin-top:-10px;
		z-index: 9999;
		position: relative;
		padding:66px 0 0;
		display: none;
		border-bottom: 1px solid white;
	}
	font-family: $proximanova-bold;
	@include font-size(20);
	@extend .clearfix;
	padding:0 15px;
	@media screen and (max-width: $break-nav) {
		font-family: $proximanova-regular;
		@include font-size(15);
	}
	a#mobile-prev{
		@include abs-pos(24px,auto,auto,15px); 
		z-index: 9999;
		text-transform: uppercase;
		color: white;
		display: none;
		height: 22px;
		line-height: 22px;
		background:url('../images/arrow-white-prev.png') left center no-repeat;
		background-size: 8px 12px;
		padding-left:15px;
		&:hover,&:active{
			@include opacity(.8);
			text-decoration: none;
		}
	}
	ul{
		width:100%;
		@include wp-current-page-links{
			background-color: $light-grey;
			color: $green;
			@media screen and (max-width: $break-nav) {
				background-color: lighten($green,10);
				color: white;
				font-family: $proximanova-bold;
			}
		}
		float: left;
		margin-bottom: 0;
		@media screen and (max-width: $break-nav) {
			width:100%;
			display: block;
			float: none; 
		}
		@media screen and (min-width: $break-nav+1) {
			@include inline-menu;
		}
		li{
			&.mobile-only{
				@media screen and (min-width: $break-nav) {
					display: none;
				}
			}
			&.menu-item-has-children{
				position: relative;
				@media screen and (max-width: $break-nav) {
					> a{
						&:after{
							content:"";
							@include abs-pos(50%,15px,auto,auto);
							margin-top:-6px;
							width:8px;
							height:12px;
							background-image:url('../images/arrow-white.png');
							background-repeat: no-repeat;
							background-size: 8px 12px;
							background-position: center center;
							display: block;
						}
					}
				}
			}
			&.donate{
				float: right;
				a:link,a:visited{
					background-color: $orange;
					height:50px;
					line-height: 50px;
					color: white;
					display: inline-block;
					padding:0 20px;
					@include border-radiuses(6px,0,0,6px);
					
					@include transition(background-color 0.3s ease-in-out);
					&:hover,&:active{
				//background-color: lighten($orange,10);
						background-color: black;
						text-decoration: none;
					}
					@media screen and (max-width: $break-nav) {
						@include abs-pos(-52px,15px,auto,15px);
						height:40px;
						@include border-radius(0);
						line-height: 40px;
						text-align: center;
						text-transform: uppercase;
						font-family: $proximanova-bold;
					}
				}
			}

			&.current-page-ancestor{
				@media screen and (max-width: $break-nav) {
					a:link,a:visited{
						background-color: transparent;
						font-family: $proximanova-regular;
					}
					a:hover,a:active{
						background-color: lighten($green,10);
					}
				}
			}
			a{
				@include transition(all 0.3s ease-in-out);
				&:link,&:visited{
					color: $blue;
					height: 50px;
					line-height: 50px;
					padding:0 20px;
					background-color:transparent;
					@media screen and (max-width: $break-nav) {
						color: white;
					}
				}
				&:hover,&:active{
					background-color: black;
					color: white;
					text-decoration: none;
					@media screen and (max-width: $break-nav) {
						background-color: lighten($green,10);
					}
				}
				@media screen and (max-width: $break-nav) {
					display: block;
					width:100%;
					padding:10px 15px !important;
					height:auto !important;
					line-height: 100% !important; 
					color: white;
				}
			}
			@media screen and (max-width: $break-nav) {
				display: block;
				width:100%;
			}
			.sub-menu{
				//@include abs-pos(0,auto,auto,0);
				li{
					display: none; 
				}
				

			}
		}
	}
	.container{
		padding: 0 12px;
		@media screen and (max-width: $break-nav) {
			padding:0;
		}
	}
	a.donate{
		background-color: $orange;
		height:50px;
		line-height: 50px;
		color: white;
		display: inline-block;
		padding:0 20px;
		@include border-radiuses(6px,0,0,6px);
		float: right;
		@include transition(background-color 0.3s ease-in-out);
		&:hover,&:active{
			//background-color: lighten($orange,10);
			background-color: black;
			text-decoration: none;
		}
		@media screen and (max-width: $break-nav) {
			@include abs-pos(-52px,15px,auto,15px);
			height:40px;
			@include border-radius(0);
			line-height: 40px;
			text-align: center;
			text-transform: uppercase;
			font-family: $proximanova-bold;
		}
	}
}
nav#secondary-nav{
	@include abs-pos(12px,0,auto,auto);
	@media screen and (max-width: $break-xlarge) {
		right:15px;
	}
	ul{
		@include inline-menu;
		@include font-size(16);
		li{
			margin-right: 25px;
			a{
				height:30px;
				line-height: 30px;
			}
			&.hide{
				display: none;
			}
			&.search-btn{ 
				margin:0 0 0 60px;
				a{
					font-family: $proximanova-bold;
					color: $mid-grey;
					padding-right:30px;
					&:hover,&:active{
						text-decoration: none;
					}
					&:after{
						content:"";
						height:30px;
						width:30px;
						background:url('../images/search-icon.svg') center center no-repeat;
						background-size: 15px 15px;
						display: block;
						@include abs-pos(0,0,auto,auto);
					}
				}
			}
		}
	}
	@media screen and (max-width: $break-nav) {
		display: none;
	}
}
nav#footer-nav{
	@include inline-menu;
	@extend %clearfix;
	margin-bottom: 20px;
	@media screen and (max-width: $break-small) {
		@include centered-menu;
	}
	li{
		margin-right: 20px;
		@media screen and (max-width: $break-small) {
			margin: 0 10px;
		}
	}
	a:link,a:visited{
		color: white;
	}
	a:hover,a:active{
		color: $light-blue;
	}
}
nav#sub-nav{
	ul{
		margin:0;
		&.children{
			display:none;
			li{
				a{
					background-color: $dark-green;
					font-family: $proximanova-regular;
					@include font-size(15);
					&:hover,&:active{
						background-color: black;
					}
				}
			}
		}
		li{
			a{
				background-color: $green;
				display: block;
				padding: 12px 10px 12px 12px;
				color: white;
				@include font-size(17);
				line-height: 130%;
				@include transition(background-color 0.2s ease-in-out);
				&:link,&:visited{
					
				}
				&:hover,&:active{
					text-decoration: none;
					background-color:black;
				}
			}
			&.current-menu-item, &.current_page_item{
				a{
					background-color: $light-green;
					font-family: $proximanova-bold;
				}
			}
			&.page_item_has_children.current_page_ancestor{
				a{
					background-color: $dark-green;
					font-family: $proximanova-bold;
					&:hover,&:active{
						background-color: black;
					}
				}
				li.current_page_item a{
					background-color: $light-green;
				}
				.children{
					display:block;
					a{
						font-family: $proximanova-regular;
					}
				}
			}
		}	
	}
	@media screen and (max-width: $break-medium) {
		display: none;
	}
}
nav#mobile-controls{ 
	@include abs-pos(0,20px,auto,auto);
	display: none;
	@media screen and (max-width: $break-nav) {
		display: block; 
	}
	@media screen and (max-width: $break-small){
		@include abs-pos(0,15px,auto,auto);
	}
	li{
		display:inline;
		width: 44px;
		height: 86px;
		@media screen and (max-width: $break-large){
			height:120px;
		}
		@media screen and (max-width: $break-medium){
			height: 96px;
		}
		@media screen and (max-width: $break-small){
			height: 72px;
		}
		float: left;
		margin-left:10px;
		a{
			width:44px;
			height:44px;
			@include vertical-align;
			display: block;
			@extend %ir;
			background-image:url('../images/mobile-nav-icon.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-color: $blue;
			@include border-radius(5px);
		}
		&.menu{
			a:hover,a:active{
				background-color: black;
			}
		}
		&.search,&.tel{
			a{
				background-size: 21px 21px;
				background-color: transparent;
				background-image:url('../images/search-icon.png');	
			}
			&.active{
				background-image:url('../images/mobile-menu-pointer-blue.jpg');
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: 18px 9px;
				a{
					background-image: url('../images/close-icon.png');
				}
			}
		}
		&.tel{
			a{
				background-image:url('../images/telephone-icon.png');		
			}
			&.active{
				background-image:url('../images/mobile-menu-pointer-green.jpg');
				a{
					background-image: url('../images/close-icon.png');
				}
			}
		}
	}
}