nav#nav{
	display: block;
	@media screen and (max-width: $break-medium) {
		display: none;
	}
	font-family: $proximanova-bold;
	@include font-size(20);
	@extend .clearfix;
	padding:0 15px;
	ul{
		@include wp-current-page-links{
			background-color: $light-grey;
			color: $green;
		}
		float: left;
		margin-bottom: 0;
		@include inline-menu;
		li{
			a{
				@include transition(all 0.3s ease-in-out);
				&:link,&:visited{
					color: $blue;
					height: 50px;
					line-height: 50px;
					padding:0 20px;
					background-color:transparent;
				}
				&:hover,&:active{
					background-color: black;
					color: white;
					text-decoration: none;
				}
			}
		}
	}
	.container{
		padding: 0 12px;
	}
	a.donate{
		background-color: $orange;
		height:50px;
		line-height: 50px;
		color: white;
		display: inline-block;
		padding:0 20px;
		@include border-radiuses(6px,0,0,6px);
		float: right;
		@include transition(background-color 0.3s ease-in-out);
		&:hover,&:active{
			background-color: lighten($orange,10);
			text-decoration: none;
		}
	}
}
nav#secondary-nav{
	@include abs-pos(12px,162px,auto,auto);
	ul{
		@include inline-menu;
		@include font-size(16);
		li{
			margin-right: 20px;
			a{
				height:30px;
				line-height: 30px;
			}
		}
	}
	@media screen and (max-width: $break-medium) {
		display: none;
	}
}
nav#footer-nav{
	@include inline-menu;
	@extend %clearfix;
	margin-bottom: 20px;
	@media screen and (max-width: $break-small) {
		@include centered-menu;
	}
	li{
		margin-right: 20px;
		@media screen and (max-width: $break-small) {
			margin: 0 10px;
		}
	}
	a:link,a:visited{
		color: white;
	}
	a:hover,a:active{
		color: $light-blue;
	}
}
nav#sub-nav{
	ul{
		margin:0;
		li{
			a{
				background-color: $green;
				display: block;
				padding: 12px 10px 12px 25px;
				color: white;
				@include font-size(17);
				line-height: 130%;
				@include transition(background-color 0.2s ease-in-out);
				&:link,&:visited{
					
				}
				&:hover,&:active{
					text-decoration: none;
					background-color:black;
				}
			}
			&.current-menu-item{
				a{
					background-color: $light-green;
					font-family: $proximanova-bold;
				}
				.sub-menu{
					li{
						a{
							background-color: $dark-green;
							font-family: $proximanova-regular;
							@include font-size(15);
							&:hover,&:active{
								background-color: black;
							}
						}
					}
				}
			}
			&.menu-item-has-children.current-page-ancestor{
				a{
					background-color: $dark-green;
					font-family: $proximanova-bold;
				}
				.sub-menu{
					li{
						a{
							font-family: $proximanova-regular;
							@include font-size(15);
							&:hover,&:active{
								background-color: black;
							}
						}
						&.current-menu-item{
							a{
								background-color: $light-green;
							}
						}
					}	
				}
			}
		}	
	}
	@media screen and (max-width: $break-medium) {
		display: none;
	}
}
nav#mobile-controls{ 
	@include abs-pos(0,20px,auto,auto);
	display: none;
	@media screen and (max-width: $break-medium) {
		display: block; 
	}
	@media screen and (max-width: $break-small){
		@include abs-pos(0,15px,auto,auto);
	}
	li{
		display:inline;
		width: 44px;
		height: 86px;
		@media screen and (max-width: $break-small){
			height: 72px;
		}
		float: left;
		margin-left:10px;
		a{
			width:44px;
			height:44px;
			@include vertical-align;
			display: block;
			@extend %ir;
			background-image:url('../images/mobile-nav-icon.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-color: $blue;
			@include border-radius(5px);
		}
		&.menu{
			a:hover,a:active{
				background-color: black;
			}
		}
		&.search,&.tel{
			a{
				background-size: 21px 21px;
				background-color: transparent;
				background-image:url('../images/search-icon.png');	
			}
			&.active{
				background-image:url('../images/mobile-menu-pointer-blue.jpg');
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: 18px 9px;
			}
		}
		&.tel{
			a{
				background-image:url('../images/telephone-icon.png');		
			}
			&.active{
				background-image:url('../images/mobile-menu-pointer-green.jpg');
			}
		}
	}
}