h1,h2,h3,h4,h5,h6{
	@include font-size(38);
	line-height: 100%;
	padding:0;
	margin: 0 0 46px;
	color: $green;
	font-weight: normal;
	@media screen and (max-width: $break-medium) {
		@include font-size(36);
		margin-bottom: 36px;
	}
	@media screen and (max-width: $break-small){
		@include font-size(26);
		margin-bottom: 25px;
	}
}
h2,h3,h4{
	margin-bottom: 35px;
}
h2{
	@include font-size(30);
}
h3,h4{
	@include font-size(24);
}
h3{
	font-family: $proximanova-bold;
}
h4{
	text-transform: uppercase;
}
h5,h6{
	@include font-size(20);
	margin-bottom:30px;
}
h6{
	font-style:italic;
}

strong{
	font-weight: normal;
	font-family: $proximanova-bold;
}
p,ul{
	margin-bottom: 25px;
	@media screen and (max-width: $break-small) {
		margin-bottom: 20px;
	}	
}
blockquote{
	p{
		@include font-size(25)
	}
}
a{
	text-decoration:none;
	@include transition(color 0.3s ease-in-out);
	&:link{
		color: $blue;
	}
	&:visited{
		color: $mid-grey;
	}
	&:hover,&:active{
		color: black;
		text-decoration: underline;
	}
}
address{
	font-style: normal;
	margin-bottom: 25px;
}