@mixin fixed-ratio($width,$ratio-height,$first-child){
	display: block;
	width: $width;
	position: relative;
	&:before{
		content:"";
		padding-top:$ratio-height;
		display: inline-block;
	}
	#{$first-child}{
		@include abs-pos(0,auto,auto,0);
		width:100%;
		height:100%;
		display: block;  
	}
}